@import "tailwindcss";

@theme {

  --color-primary: #22C55E;
  --color-primary-dark: #16A34A;
  --color-primary-light: #4ADE80;
  --color-secondary: #FDE047;
  --color-secondary-dark: #FACC15;
  --color-gray_text2: #6E6D6D;
  --color-gray_text3: #3E4449;
  --color-gray_text1: #EAEAEA;
  --color-accent: #22C55E;
  --color-primary_darkblue: #114466;
  --color-primary_gray: #d0c6bc;
  --color-text_gray: #A5A1A1;
  --color-hover_gray: #F7F4FF;

}

@layer utilities {

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

.sansation {
  font-family: "Sansation", sans-serif;
}

button{
  @apply cursor-pointer;
}
.max-w-7xl{
  max-width:1300px
}